body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.top {
  background-color: #e5772a;
  padding: 10px 0;
}
.top span {
  color: #ffffff;
  display: inline-block;
  margin-top: 6px;
}
.top span i {
  display: inline-block;
  margin-right: 8px;
}
.top span:last-child {
  margin-left: 30px;
}
.top ul {
  margin: 0;
}
.top ul a {
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}
.top ul a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #e5772a !important;
}
.self-navbar {
  background: #fff;
  width: 100%;
  z-index: 50;
  top: 0;
  margin: 0;
}
.self-navbar .self-container {
  padding: 20px 0;
}
.self-navbar .self-container .logo {
  font-size: 28px;
  color: #080808;
  font-weight: bold;
}
.self-navbar .navbar-ul li {
  color: #000;
  font-size: 16px;
}
.self-navbar .navbar-ul li a {
  color: #000;
}
.self-navbar .navbar-ul li .active {
  background: #e5772a;
  color: #fff;
  border-radius: 5px;
}
.con-top .con-bt {
  display: block;
  margin: 20px auto 50px;
  height: 4px;
  width: 80px;
  background: #e5772a;
}
.col-wit {
  color: #fff;
}
.carousel-inner img {
  width: 100%;
}
.serives {
  padding-top: 100px;
}
.serives h4 {
  text-align: center;
  font-weight: bold;
}
.serives .ser-con {
  margin-top: 30px;
}
.serives .ser-con h4 {
  margin-bottom: 30px;
  position: relative;
  font-size: 18px;
}
.serives .ser-con h4 span:first-child {
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 23px;
  color: #e5772a;
}
.serives .ser-con h4 span:last-child {
  margin-left: -10px;
}
.serives .ser-con p {
  font-size: 13px;
  line-height: 20px;
}
.portfolio {
  margin-top: 120px;
  background: #3D3F3F;
  padding: 80px 0;
}
.portfolio .pro-item {
  margin-top: 30px;
}
.portfolio .pro-item .about-img {
  width: 100%;
}
.portfolio .pro-item .pro-row {
  padding: 0;
  position: relative;
}
.portfolio .pro-item:hover .overlay {
  opacity: 0.8;
}
.portfolio .overlay {
  transition: opacity  0.6s;
  color: #fff;
  background: #e5772a;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.portfolio .overlay .overlay-text {
  bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
}
.about .about-col {
  margin-top: 40px;
}
.about h5 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
  color: #e5772a;
}
.about p {
  margin: 12px 0;
}
.about .about-progress {
  height: 30px;
  border-radius: 0px;
  margin: 10px 0;
}
.about .progress-bar {
  line-height: 30px;
  background: #e5772a;
}
.about .about-caption {
  background: #F5F5F5;
  padding: 0 10px 10px 20px;
  border: 1px solid #ccc;
  border-top: none;
}
.about .about-item {
  position: relative;
}
.about .about-item .about-img {
  width: 100% !important;
}
.about .about-item:hover .overlay {
  opacity: 0.5;
}
.about .about-item:hover .about-list {
  opacity: 1;
}
.about .about-item .about-list {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.6s;
}
.about .about-item .about-list li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.6s;
}
.about .about-item .about-list li:hover {
  background: rgba(255, 255, 255, 0.7);
}
.about .about-item .about-list li a {
  color: #fff;
}
.about .overlay {
  background: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.6s;
}
.contact {
  margin-top: 80px;
}
.contact h5 {
  margin: 40px 0 20px;
  font-size: 20px;
  font-weight: bold;
}
.contact .form-item {
  margin-top: 20px;
}
.contact .form-item label {
  font-weight: normal;
}
.contact .form-item textarea {
  max-width: 100%;
}
.contact .contact-btn {
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  padding: 10px 12px;
  background-color: #e5772a;
  transition: background-color 0.6s;
}
.contact .contact-btn:hover {
  background-color: #000;
}
.contact .bar {
  height: 12px;
  margin: 30px 0 40px;
  border: 1px solid #ccc;
}
.contact ul {
  margin-top: 20px;
}
.contact ul li {
  margin-top: 15px;
}
.contact ul li span {
  color: #e5772a;
  display: inline-block;
  margin-right: 20px;
}
footer {
  padding: 30px;
  margin-top: 70px;
  background: #e5772a;
  color: #fff;
}
footer li {
  margin-top: 10px;
}
footer a {
  color: #fff;
  text-align: center;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
footer .up {
  display: block;
}
@media screen and (max-width: 992px) {
  .top-left {
    text-align: center;
  }
  .top-right {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .ser-con h4 {
    text-align: left;
    padding-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .top-left {
    text-align: center;
    margin-bottom: 10px;
  }
  .top-right {
    text-align: center;
  }
  .ser-con h4 {
    text-align: left;
    padding-left: 60px;
  }
}
